body{
  margin: 0;
  padding: 0;
  width: 100%;
}
nav{
  margin: 0;
  padding:0;
  display: flex;
  flex-direction: row;
}
.navelement{
  padding: 2%;
  color: white;
  background-color: #141515;
}
.navelement: hover{
  background-color: #020303;
  color: white;
}
